<!DOCTYPE html>
<html lang="en">
<head>
	<title> Check out these cool pieces of work • Jason Leduc</title>
	<meta charset="utf-8">
	<meta name="author" content="jason leduc">
	<meta name="description" content="cool portfolio pieces coming your way"/>
	<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0" />
	<link  href="{{site.baseurl}}/css/portfolio.css" rel="stylesheet" type="text/css">
	
</head>
<body>
  
<ul class="skip-links">
  <li><a href="#nav">Skip to navigation</a></li>
  <li><a href="#main">Skip to main content</a></li>
</ul> 

	<header>
		<div class="logo">
			<a href="{{site.baseurl}}/"><img src="{{site.baseurl}}/images/logo.svg" title="Jason Leduc" alt="Logo" width="175"/></a>
		</div><!-- end logo -->

		<div id="menu_icon"></div>
		<nav role="navigation" id="nav">
			<ul>
				<li><a href="{{site.baseurl}}/">Home</a></li>
				<li><a href="{{site.baseurl}}/about/">About</a></li>
				<li><a href="{{site.baseurl}}/faq/">FAQ</a></li>
				<li><a href="{{site.baseurl}}/contact/">Contact</a></li>
			</ul>
		</nav><!-- end navigation menu -->

		<div class="footer clearfix">
			<ul class="social clearfix">
				<li><a href="#" class="fb" data-title="Facebook"></a></li>
				<li><a href="https://plus.google.com/u/0/112897281095514564655" class="google" data-title="Google +"></a></li>
				<li><a href="https://www.behance.net/jason_leduc" class="behance" data-title="Behance"></a></li>
				<li><a href="https://twitter.com/Cthuluhooop_" class="twitter" data-title="Twitter"></a></li>
				<!--<li><a href="#" class="dribble" data-title="Dribble"></a></li>
				<li><a href="#" class="rss" data-title="RSS"></a></li>-->
			</ul><!-- end social -->

		</div ><!-- end footer -->
	</header><!-- end header -->
  
  {{content}}

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0-alpha1/jquery.min.js"></script>  
</body>
</html>